@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(220, 69%, 97%);
  --foreground: hsl(0, 0%, 100%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(240 10% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);
  --primary: hsl(242, 48%, 58%);
  --primary-foreground: hsl(243, 100%, 82%);
  --secondary: hsl(240 4.8% 95.9%);
  --secondary-foreground: hsl(240 5.9% 10%);
  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);
  --accent: hsl(240 4.8% 95.9%);
  --accent-foreground: hsl(240 5.9% 10%);
  --destructive: hsl(0, 78%, 63%);
  --destructive-foreground: hsl(0, 100%, 80%);
  --border: hsl(240 5.9% 90%);
  --input: hsl(240 5.9% 90%);
  --ring: hsl(242, 48%, 58%);
  --radius: 0.75rem;
  --lines: hsl(221, 69%, 94%);
  --black: hsl(237, 100%, 4%);
  --medium-grey: hsl(216, 15%, 57%);
}

.dark {
  --background: hsl(235, 16%, 15%);
  --foreground: hsl(235, 12%, 19%);
  --card: hsl(235, 12%, 19%);
  --card-foreground: hsl(0 0% 95%);
  --popover: hsl(0 0% 9%);
  --popover-foreground: hsl(0 0% 95%);
  --primary: hsl(242, 48%, 58%);
  --primary-foreground: hsl(243, 100%, 82%);
  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(0 0% 15%);
  --muted-foreground: hsl(240 5% 64.9%);
  --accent: hsl(12 6.5% 15.1%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0, 78%, 63%);
  --destructive-foreground: hsl(0, 100%, 80%);
  --border: hsl(240 3.7% 15.9%);
  --input: hsl(240 3.7% 15.9%);
  --ring: hsl(242, 48%, 58%);
  --lines: hsl(236, 11%, 27%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-medium-grey: var(--medium-grey);
  --color-lines: var(--lines);
  
  --font-main: var(--font-jakarta);

  --text-h-xl: 1.5rem;
  --text-h-xl--line-height: 1.875rem;
  --text-h-xl--font-weight: 700;

  --text-h-lg: 1.125rem;
  --text-h-lg--line-height: 1.438rem;
  --text-h-lg--font-weight: 700;

  --text-h-md: 0.938rem;
  --text-h-md--line-height: 1.188rem;
  --text-h-md--font-weight: 700;

  --text-h-sm: 0.75rem;
  --text-h-sm--line-height: 0.938rem;
  --text-h-sm--font-weight: 700;
  --text-h-sm--letter-spacing: 0.15rem;

  --text-b-lg: 0.813rem;
  --text-b-lg--line-height: 1.438rem;
  --text-b-lg--font-weight: 5100;

  --text-b-md: 0.75rem;
  --text-b-md--line-height: 0.938;
  --text-b-md--font-weight: 5100;
  
}

@utility container {
  margin-inline: auto;
  padding-inline: 16px;
}
@utility t-* {
  font-size: calc(--value([integer])rem / 16);
}
@utility p-* {
  padding: calc(--value([integer])rem / 16);
}
@utility px-* {
  padding-left: calc(--value([integer])rem / 16);
  padding-right: calc(--value([integer])rem / 16);
}
@utility py-* {
  padding-top: calc(--value([integer])rem / 16);
  padding-bottom: calc(--value([integer])rem / 16);
}
@utility pt-* {
  padding-top: calc(--value([integer])rem / 16);
}
@utility pl-* {
  padding-left: calc(--value([integer])rem / 16);
}
@utility pr-* {
  padding-right: calc(--value([integer])rem / 16);
}
@utility pb-* {
  padding-bottom: calc(--value([integer])rem / 16);
}
@utility m-* {
  margin: calc(--value([integer])rem / 16);
}
@utility mx-* {
  margin-left: calc(--value([integer])rem / 16);
  margin-right: calc(--value([integer])rem / 16);
}
@utility my-* {
  margin-top: calc(--value([integer])rem / 16);
  margin-bottom: calc(--value([integer])rem / 16);
}
@utility mt-* {
  margin-top: calc(--value([integer])rem / 16);
}
@utility ml-* {
  margin-left: calc(--value([integer])rem / 16);
}
@utility mr-* {
  margin-right: calc(--value([integer])rem / 16);
}
@utility mb-* {
  margin-bottom: calc(--value([integer])rem / 16);
}
@utility gap-* {
  gap: calc(--value([integer])rem / 16);
}
@utility w-* {
  width: calc(--value([integer])rem / 16);
}
@utility max-w-* {
  max-width: calc(--value([integer])rem / 16);
}
@utility size-* {
  height: calc(--value([integer])rem / 16);
  width: calc(--value([integer])rem / 16);
}
@utility tracking-* {
  letter-spacing: calc(--value([integer])rem / 16);
}

html,
body {
  font-family: var(--font-jakarta);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}